*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma,sans-serif;
}

body{
background:#eef2f7;
direction:rtl;
}

.sidebar{
width:260px;
height:100vh;
background:#0f172a;
padding:20px;
color:white;
position:fixed !important;
right:0 !important;
left:auto !important;
top:0;
overflow-y:auto;
}

.main{
margin-right:260px !important;
margin-left:0 !important;
padding:25px;
direction:rtl;
}

.logo{text-align:center;margin-bottom:30px;}
.logo h1{font-size:42px;color:#c93a63;}
.logo p{color:#a855f7;}

.menu button{
width:100%;
padding:14px;
margin-bottom:10px;
border:none;
border-radius:10px;
background:transparent;
color:white;
font-size:16px;
text-align:right;
cursor:pointer;
}

.menu button:hover{
background:linear-gradient(90deg,#c93a63,#a855f7);
}

.section{display:none;}
.section.active{display:block;}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:25px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.card h3{margin-bottom:15px;}
.card p{font-size:30px;font-weight:bold;color:#c93a63;}

table{
width:100%;
border-collapse:collapse;
background:white;
margin-top:20px;
border-radius:12px;
overflow:hidden;
}

th{background:#c93a63;color:white;padding:12px;}
td{padding:12px;text-align:center;border-bottom:1px solid #eee;}
select{padding:6px;border-radius:6px;}
button{cursor:pointer;}
